:root {
  --color-light: #69eeee;
  --text-black: #000;
  --color-pink: #e04c85;
  --text-white: #fff;
  --color-purple: #9b51fc;
  --color-blue: #0832ee;
}


@media (max-width: 992px) {

    .img-header {
        height: 60px;
        width: 120px;
    }
    
    .navbar{
        gap: 10px;
      }

    .navbar-list {
        position: fixed;
        top: 65px;
        width: 90%;
        left: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, var(--text-white), var(--color-purple));
        border: 2px solid var(--color-purple);
        border-top: 0;
        border-radius: 0px 0px 15px 15px;
        gap: 25px;
        z-index: 10;
        display: none;
        padding: 10px;
      }

    .navbar-list li:first-child > a {
        color: var(--color-purple);
      }

    .show-overlay {
      z-index: 1;
    }

    .navbar-list a {
        font-size: 18px;
      }

    .menu-icon {
        display: block;
      }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
      }

    .open-menu {
        display: flex;
        z-index: 2;
      }

    .cart-icon {
        height: 40px;
        width: 40px;
      }  

    .cart-bubble {
        height: 12px;
        width: 12px;
        top: -2px;
        right: -2px;
    }
    
    #about h2 {
        font-size: 24px;
    }
  
    .text {
        font-size: 20px;
    }

    .info-card {
      height: 350px;
      width: 250px;
    }

    .info-card img {
      height: 180px;
      width: 180px;
    }
    
    .info-card h3 {
      font-size: 20px;
      text-align: center;
    }
    
    .info-card p {
      font-size: 20px;
      text-align: center;
    }
} 

@media (max-width: 576px) {

  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .cart-item {
    flex-wrap: wrap;
  }

  #sucursales h2 {
    font-size: 20px;
  }

  .info-cards-container {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-card {
    height: 220px;
    width: 150px;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
  }

  .info-card img {
    height: 100px;
    width: 100px;
  }
  
  .info-card h3 {
    font-size: 15px;
  }
  
  .info-card p {
    font-size: 10px;
  }

  .categories {
    padding-left: 15%;
    padding-right: 10%;
  }

  .category {
    justify-content: center;
    padding: 5px;
  }

  .products-container {
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
  }

  .product {
    padding: 10px;
    gap: 5px;
  }
  
  .product img {
    width: 80px;
    height: 80px;
  }

  .btn-add {
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
  
}