@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    font-family: 'Zilla Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    vertical-align: baseline;
    overflow-x: hidden;
}

:root {
    --color-light: #69eeee;
    --text-black: #000;
    --color-pink: #e04c85;
    --text-white: #fff;
    --color-purple: #9b51fc;
    --color-blue: #0832ee;
}

header {
    width: 100%;
    background: linear-gradient(to left, var(--color-light), var(--color-purple)30%, var(--color-light)) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    top: 0;
    position: fixed;
    z-index: 999;
    overflow-y: hidden;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
}

.img-header {
  height: 70px;
  width: 150px;
}

.navbar {
  gap: 350px;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
    color: var(--text-white);
    font-size: 18px;
}

.navbar-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
  }

.cart-icon {
    font-weight: 600;
    font-size: 18px;
    margin-right: 1rem;
    padding-right: 0;
    cursor: pointer;
    position: relative;
 }

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: var(--color-purple);
    color: var(--text-white);
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
  }
  
  .menu-label {
    display: none;
  } 

  .cart {
    position: fixed;
    top: 65px;
    right: 0;
    background: linear-gradient(to bottom, var(--text-white), var(--color-purple));
    border: 2px solid var(--color-purple);
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100vh - 65px);
    z-index: 10;
    width: 300px;
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    align-items: center;
  }
  
  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .empty-msg {
    color: var(--text-black);
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }

 .cart::-webkit-scrollbar {
    display: none;
  }   
  
  .cart h2 {
    color: var(--color-purple);
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    display: flex;
    padding: 10px;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--text-white);
    border-radius: 10px;
    padding: 15px;
    overflow-y: none;
    margin: 5px;
    height: auto;
    min-height: 85px;
  }
  
  .cart-item img {
    height: 40px;
    width: 40px;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .item-title {
    color: var(--color-pink);
    font-weight: 600;
    font-size: 14px;
    display: flex;
  }
  
  .item-price {
    color: var(--color-pink);
    font-size: 16px;
    font-weight: 800;
    align-items: center;
  }
  
  .item-handler {
    display: flex;
  }
  
  .quantity-handler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-black);
  }
  
  .item-quantity {
    color: var(--text-black);
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .up,
  .down {
    border: 2px solid var(--color-purple);
    border-radius: 5px;
    background-color: var(--text-white);
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  .cart-total {
    display: flex;
    justify-content: center;
  }
  
  .cart-total p {
    color: var(--text-black);
    font-weight: 700;
  }
  
  .cart-total span {
    color: var(--text-black);
    font-weight: 400;
    font-size: 18px;
  }

  .btn-buy,
  .btn-delete {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
  }

  .btn-buy {
    background-color: var(--color-purple);
    border: var(--color-purple);
    color: var(--text-white);
  }

  .btn-delete {
    background-color: var(--text-white);
    border: solid 2px var(--color-purple);
    color: var(--color-purple);
  }
  
  .open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

  .overlay {
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.show-overlay {
    display: block;
}

#portada {
    background-color: var(--color-blue);
    margin-top: 65px;
    justify-content: center;
    align-items: center;
    padding: 3px;
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    width: 200%;
    overflow: hidden;
    text-align: left;
}

#portada img {
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    float: left;
    width: 50%;
    padding: 3px;
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 0;
    }
    50% {
        margin-left: -100%;
    }
    95% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;
    }
}

#about {
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
}

#about h2 {
    font-size: 40px;
    color: var(--color-blue);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Graduate', serif;
    padding: 3%;
}

.text {
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

#sucursales {
  background: linear-gradient(to bottom, var(--color-light), var(--color-purple)80%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#sucursales h2 {
  font-size: 40px;
  color: var(--color-blue);
  padding-bottom: 1%;
}

.info-cards-container {
  display: flex;
  gap: 60px;
}

.info-card {
  height: 400px;
  width: 300px;
  background-color: var(--color-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.info-card img {
  height: 200px;
  width: 200px;
}

.info-card h3 {
  font-size: 25px;
  text-align: center;
}

.info-card p {
  font-size: 25px;
  text-align: center;
}

#products {
  background: linear-gradient(to bottom, var(--color-purple), var(--color-blue));
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#products h2 {
  font-size: 30px;
  padding-top: 3%;
  text-decoration-line: underline;
  color: var(--text-white);
}

.categories {
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
}

.category {
  background: var(--color-pink);
  border: 3px solid var(--color-light);
  padding: 10px 15px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.active {
  background: var(--color-light);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.product {
  background: var(--text-white);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product img {
  width: 100px;
  height: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.product-info h3 {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
}

.product-writer {
  display: flex;
  align-items: center;
}

.product-end span {
  font-weight: bold;
  margin-right: 10px;
}

.product-end {
  flex-direction: column;
}

.btn-add {
  background-color: #0832ee;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  border: solid 1px var(--color-blue);
  color: var(--text-white);
  cursor: pointer;
  font-size: 15px;
}

.btn-load {
  background-color: var(--color-light);
  border: solid 3px var(--text-white);
  width: 80px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px ;
  color: var(--text-black);
}

.hidden {
  display: none;
}

footer {
  background-color: var(--text-black);
}

#contact {
  background: linear-gradient(to bottom, var(--color-blue), var(--text-black)99%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#contact h2 {
  padding-top: 3%;
  color: var(--text-white);
}

form {
  background-color: var(--text-white);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-light);
}

.btn-form{
  padding: 10px 20px;
  background-color: var(--color-pink);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

textarea:hover {
  background-color: var(--color-light);
}

button:hover {
  background-color: var(--color-purple);
}

.footer-links {
  justify-content: space-between;
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--text-white);
  font-size: 20px;
  margin-bottom: 20px;
}

.disabled {
  background-color: var(--text-gray);
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: var(--text-gray);
  color: white;
  cursor: not-allowed;
  border: none;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}